<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Skills</title>
  </head>
  <body>
    <body>
      <h1>My Skills at GA</h1>
      <ul>
        <% skills.forEach(function(s) { %>
        <li>
          <%= s.id %> - <%= s.name %> - <%=s.done? 'done' : 'not done' %>
        </li>
        <% }); %>
      </ul>
    </body>
  </body>
</html>
