<%- include('../partials/header') %>
<h2><a href="/skills">Go Back</a></h2>
<h1>Skill: <%= skill.name %></h1>
<h2>Status: <%= skill.done ? 'done 🤩' : 'not done 🤔' %></h2>

<%- include('../partials/footer') %>
